[submodule "react-pokemon"]
	path = react-pokemon
	url = git@github.com:robence/react-pokemon.git
[submodule "react-headless-counter"]
	path = react-headless-counter
	url = git@github.com:robence/react-headless-counter.git
[submodule "react-hook-store"]
	path = react-hook-store
	url = git@github.com:robence/react-hook-store.git
[submodule "react-hooks"]
	path = react-hooks
	url = git@github.com:robence/react-hooks.git
[submodule "burger-app"]
	path = burger-app
	url = git@github.com:robence/burger-app.git
